<a href="https://colab.research.google.com/github/EltonGS/vacinacao_bcg_estados/blob/main/Notebooks/tratamento_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd
import seaborn as sns

url_dados = 'https://raw.githubusercontent.com/EltonGS/vacinacao_bcg_estados/main/Dados/A200533189_28_143_208.csv'

dados = pd.read_csv(url_dados, encoding='ISO-8859-1', skiprows=4, skipfooter=20, sep=';', thousands='.', )

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.

In [8]:
# padronizando o nome da coluna para tornar mais fácil o tratamento
dados.rename(columns={'Unidade da Federação' : 'uf'}, inplace=True)

#definindo a coluna com o nome dos estados como o index
dados.set_index('uf', inplace = True)

               1994    1995    1996    1997  ...    2017    2018   2019    Total
uf                                           ...
11 Rondônia   41356   37582   39713   35505  ...   27104   24805  14635   800058
12 Acre        8417   15209   11755   12384  ...   16345   15839   9720   435530
13 Amazonas   32376   64859   70259   72388  ...   75738   74056  45990  2103147
14 Roraima     7463    9129    9221    9237  ...   12974   15138   8683   278512
15 Pará      142918  165165  168961  174889  ...  121313  115103  64516  4256283

[5 rows x 27 columns]