<a href="https://colab.research.google.com/github/EltonGS/vacinacao_bcg_estados/blob/main/Notebooks/tratamento_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import date

url_dados = 'https://raw.githubusercontent.com/EltonGS/vacinacao_bcg_estados/main/Dados/A200533189_28_143_208.csv'
url_casos = 'https://raw.githubusercontent.com/EltonGS/vacinacao_bcg_estados/main/Dados/casos_tuberculose.csv'

dados = pd.read_csv(url_dados, encoding='ISO-8859-1', skiprows=4, skipfooter=20, sep=';', thousands='.')
dados_casos = pd.read_csv(url_casos, encoding='ISO-8859-1', skiprows = 3, skipfooter = 19, sep=';', thousands='.')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  if __name__ == '__main__':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  # Remove the CWD from sys.path while we load stuff.

In [2]:
# padronizando o nome da coluna do dataset dados para tornar mais fácil o tratamento
dados.rename(columns={'Unidade da Federação' : 'uf'}, inplace=True)

#definindo a coluna com o nome dos estados como o index para o dataset dados
dados.set_index('uf', inplace = True)

# removendo a coluna Total para o dataset dados
dados.drop(columns=['1994', '1995', '1996', 'Total'], inplace = True)

# criando uma nova coluna Total somando todos os valores nas linhas do dataset dados
# dados['Total'] = dados.sum(axis=1)

# removendo os número iniciais a frente da coluna com o nome dos estados para o dataset dados
dados.index = dados.index.str[3:]

# transpondo o dataset casos para os anos serem o index
dados = dados.T

# padronizando o nome da coluna do dataset dados_casos para tornar mais fácil o tratamento
dados_casos.rename(columns={'UF de notificação' : 'uf'}, inplace=True)

3# definindo a coluna com o nome dos estados como o index para o dataset dados_casos
dados_casos.set_index('uf', inplace=True)

# retirando as colunas sem dados do dataset dados_casos
dados_casos.drop(columns=['1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1995',
                          '1996', '1997', '1998', '1999', '2021', 'Total'], inplace=True)

# removendo os número iniciais a frente da coluna com o nome dos estados para o dataset dados_casos
dados_casos.index = dados_casos.index.str[3:]

# retirando a linha ignorado/exterior do datase dados_casos
dados_casos.drop(index='Ignorado/exterior', inplace=True)

dados_casos = dados_casos.astype(int)

# criando uma nova coluna Total somando todos os valores nas linhas do dataset dados_casos
# dados_casos['Total'] = dados_casos.sum(axis=1)

# transpondo o dataset dados_casos para que os anos sejam o index
dados_casos = dados_casos.T

In [3]:
# criando uma função para alterar o tipo de dado do index para os 2 datasets, transformando os index em data
def definir_ano (ano: str):
  ano_int = int(ano)
  
  return date(ano_int, 1, 1)

dados.index = dados.index.map(definir_ano)
dados_casos.index = dados_casos.index.map(definir_ano)

In [4]:
dados_casos.head()

uf          Rondônia  Acre  Amazonas  ...  Mato Grosso  Goiás  Distrito Federal
2001-01-01       662   353      2333  ...         1359   1111               612
2002-01-01       636   373      2271  ...         1259   1126               593
2003-01-01       648   370      2333  ...         1230   1235               613
2004-01-01       623   350      2557  ...         1172   1093               626
2005-01-01       628   329      2498  ...         1350   1104               619

[5 rows x 27 columns]

In [5]:
dados.head()

uf          Rondônia   Acre  Amazonas  ...  Mato Grosso   Goiás  Distrito Federal
1997-01-01     35505  12384     72388  ...        60070  102276             65566
1998-01-01     37018  13242     73559  ...        57271  101776             60820
1999-01-01     34723  13272     81282  ...        56287  106840             65233
2000-01-01     34654  17101     84148  ...        60344  103027             61784
2001-01-01     35213  20105     84517  ...        57838  102643             57632

[5 rows x 27 columns]

In [6]:
# manipulando o dataset dados para que possamos plotar os gráficos mais facilmente
dados = dados.reset_index().melt(id_vars=['index'], value_vars = dados.columns)
dados.columns = ['ano', 'uf', 'n_vacina']
dados['ano'] = dados['ano'].astype('datetime64').dt.year
dados.head()

    ano        uf  n_vacina
0  1997  Rondônia     35505
1  1998  Rondônia     37018
2  1999  Rondônia     34723
3  2000  Rondônia     34654
4  2001  Rondônia     35213

In [7]:
# manipulando o dataset dados_casos para que possamos plotar os gráficos mais facilmente
dados_casos = dados_casos.reset_index().melt(id_vars=['index'], value_vars = dados_casos.columns)
dados_casos.columns = ['ano', 'uf', 'n_casos_tb']
dados_casos['ano'] = dados_casos['ano'].astype('datetime64').dt.year
dados_casos.head()

    ano        uf  n_casos_tb
0  2001  Rondônia         662
1  2002  Rondônia         636
2  2003  Rondônia         648
3  2004  Rondônia         623
4  2005  Rondônia         628

In [12]:
dados.to_csv(r'C:\Users\Elton\Documents\Data Science\projeto_modulo_2\dados_tratados\dados_vac_tb.csv', index=False, encoding='ISO-8859-1')